@{
    ViewBag.Title = "HuongDanMuaHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="dropdown-divider"></div>
    <a class="text-center">
<h2>HƯỚNG DẪN MUA HÀNG</h2>
        </a>
<a>
Hiện tại khách hàng có thể mua các mặt hàng thời trang của Giày Dép Xinh bằng những cách sau: </a> <br />
    <a>
1. Quý khách có thể trực tiếp đến hệ thống cửa hàng, đại lý chính thức của Giày Dép Xinh trên toàn quốc.
        </a> <br />
    <a>
2. Quý khách có thể mua hàng online thông qua việc đặt hàng trên website chính thức của Giày Dép Xinh: giaydepxinhtphcm/facebook.com.vn.
    </a>
    <a class="text-center">
    <h6>Bảng quy đổi size giày nam</h6>
    <img src="~/Content/HinhAnh/sizenam.PNG" style="margin-left:100px" />
        </a>
    <br />
     <a class="text-center">
    <h6>Bảng quy đổi size giày nữ</h6>
    <img src="~/Content/HinhAnh/sizenu.PNG" style="margin-left:100px" />
         </a>
    </div>

