@{
    ViewBag.Title = "PhuongThucVanChuyen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="text-center">
<div class="dropdown-divider"></div>
<h2>PHƯƠNG THỨC VẬN CHUYỂN</h2>
<H5>THÀNH PHỐ HỒ CHÍ MINH</H5>
   <div class="text-left">
<a>1/Các quận trong nội thành TPHCM Quý khách sẽ được giao hàng và thu tiền tận nhà với chi phí vận chuyển như sau :
    </a><br />
&nbsp &nbsp&nbsp &nbsp&nbsp&nbsp<a>1,  Tính phí: 20k/1 đơn hàng cho đến 30k/1 đơn hàng tùy địa điểm xa gần</a><br />

&nbsp &nbsp&nbsp &nbsp&nbsp&nbsp<a">2, Mua 3 sản phẩm miễn phí giao hàng</a><br />
</div>
<h5>CÁC TỈNH THÀNH KHÁC</h5>
<div class="text-left">
<a>Quý khách nhận hàng qua bưu điện hoặc gửi xe nếu ở tỉnh thành của Quý khách có xe khách đi đến.</a><br />

<a>1/” Giày Dép Xinh ” giao hàng thu tiền tận nhà (Dịch vụ gửi COD) đến 63 tỉnh thành trong cả nước với phí vận chuyển như sau :</a><br />

&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp<a>1, Tính phí: 35k/1 sản phẩm</a><br />

&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp<a>2, Tính phí: Cộng thêm 10k đôi với sản phẩm tiếp theo trên cùng 1 đơn hàng</a><br />

&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp<a>3, Mua 3 sản phẩm miễn phí giao hàng</a><br />

<a>2/Quý khách chuyển khoản trả trước sẽ được shop hỗ trợ tiền phí vận chuyển:</a><br />

&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp<a>Mua 1 sản phẩm mà chuyển khoản trước cũng được miễn phí vận chuyển ngay lập tức.</a><br />

<a>3/Thời gian giao hàng trong khoảng 4 > 7 ngày tùy xa gần ( không tính chủ nhật – ngày lễ )</a><br />

<a>4/ Chúng tôi hợp tác giao hàng và thu tiền tận nơi đối với các công ty vận chuyển: Bưu Điện TPHCM</a><br />
    </div>
        </div>
</div>
    