@{
    ViewBag.Title = "QuyDinhDoiTra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="dropdown-divider"></div>
 <a class="text-center">
<h2>QUY ĐỊNH ĐỔI TRẢ</h2>
        </a>
    <br />

<h5>CÁCH THỨC ĐỔI HÀNG: </h5> 
<a>
Quý khách có thể đổi hàng trong vòng 7 ngày kể từ ngày mua hàng (đối với khách tỉnh thì kể từ ngày nhận hàng).
    </a><br />
    <a>
Quý khách có thể mang hàng tới đổi trả trực tiếp tại cửa hàng “ Giày Dép Xinh “ hoặc gởi hàng qua đường bưu điện về địa chỉ: 656/45 cách mạng tháng 8 P.11, Q.3, Tp.HCM
        </a> <br />
<h5>ĐIỂU KIỆN ĐỔI HÀNG:</h5> 
    <a>
Quý khách vui lòng giữ sản phẩm trong trạng thái như ban đầu và còn nguyên tem mạc.
        </a> <br />
    <a>
Sản phẩm không được dơ bẩn, hư hỏng, có mùi lạ hoặc có dấu hiệu đã qua giặt tẩy.
        </a><br/>

<a>Sản phẩm bị lỗi kỹ thuật.
    </a> <br />
 

<h5>CHI PHÍ ĐỔI HÀNG: </h5> 
    <a>
Nếu muốn đổi hàng Quý khách phải chịu phần chi phí vận chuyển 2 chiều (theo bảng giá vận chuyển của bưu điện chứ không theo bảng giá vận chuyển của shop) và các khoản phí chênh lệch về sản phẩm muốn đổi. Quý khách đổi sản phẩm ngang giá hoặc cao hơn.Shop không trả lại tiền dư.
</a> <br />
    <a>
Nếu do lỗi kỹ thuật thì Quý khách được đổi lại 1 sản phẩm đó mà không phải chịu bất kỳ chi phí nào.
        </a> <br />
<h6>TÔI CÓ THỂ TRẢ LẠI HÀNG KHÔNG? </h6> 
    <a>
"Giày Dép Xinh" không hỗ trợ khách trả lại hàng. Chỉ nhận đổi hàng bằng giá hoặc sản phẩm hơn giá nếu đổi sản phẩm thấp giá hơn thì sẽ mất số tiền chênh lệch sản phẩm.
   </a>
         </div>